body {
	background: #f4ebdb;
	margin: 0;
	height: 100vh;
}

header {
	height: 100%;
}

h1 {
    color: #2c4A52;
    text-align: center;
}

table {
	border: 1px solid black;
    border-color: black;
    border-collapse: collapse;
    text-align: center;
}

th {
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

button {
    border: 1px solid #537072;
    border-radius: 5px;
    background: #8e9b97;
    width: 150px;
    height: 30px;
    margin: 5px;
    transition-duration: 0.3s;
    position: relative;
}

.Table {
    margin: 10px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button:hover {

    top: -5px;
}

.container {
    width: 90%;
    margin: 0 auto;
}
